# ignore dockerfiles
.dockerignore
Dockerfile
Dockerfile_armv6l
Dockerfile_armv7l
Dockerfile-armhf
Dockerfile-aarch64
.git
.editorconfig
.gitignore
docs
node_modules
bin
db
src/webserver/public/libs
checkDeployment.sh
*.log
