html, body {
    height:100%;
    margin:0;
    padding:0
}

body {
    color: #fff;
}

.container-fluid {
    height:100%;
    display:table;
    width: 100%;
    padding: 0;
    background: url(../images/bg.png) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-color: #3d3d39;
}

.container-body {
    float: none;
    margin: 0 auto;
    max-width: 500px;
    border-color: #2c2c28;
    border-width: 1px;
    border-style: solid;
    border-radius: 10px;
    padding: 50px;
}

.row-fluid {
    height: 100%;
    display:table-cell;
    vertical-align: middle;
}

hr {
    border-bottom: 1px solid #454543;
    border-top: 1px solid #2b2b2a;
}

.footer {
    padding-bottom: 25px;
}

h1, h2, h3, h4, h5, h6 {
    color: #3daa48;
    font-weight: 300;
}

h1 {
    text-shadow: 0px 1px #000;
    font-weight: 100;
    margin-bottom: 30px;
    font-size: 46px;
}

a {
    color: #fff;
    text-decoration: none;
}

a:visted {
    color: #fff;
    text-decoration: none;
}

a:hover, a:active, a:focus {
    color: #3daa48;
    text-decoration: none;
}


.locales {
    color: #60605e;
    text-decoration: none;
}

.locales.active {
    color: #fff;
    text-decoration: none;
}

.locales:hover, .locales:focus {
    color: #3daa48;
    text-decoration: none;
}

/* buttons */

.btn {
    margin-top: -5px;
}

.btn-success {
    background-color: #3d8142;
    border-color: #3d8142;
}

.btn-danger {
    background-color: #ac5647;
    border-color: #ac5647;
}

.btn-default.disabled, .btn-default.disabled.active, .btn-default.disabled.focus, .btn-default.disabled:active, .btn-default.disabled:focus, .btn-default.disabled:hover, .btn-default[disabled], .btn-default[disabled].active, .btn-default[disabled].focus, .btn-default[disabled]:active, .btn-default[disabled]:focus, .btn-default[disabled]:hover, fieldset[disabled] .btn-default, fieldset[disabled] .btn-default.active, fieldset[disabled] .btn-default.focus, fieldset[disabled] .btn-default:active, fieldset[disabled] .btn-default:focus, fieldset[disabled] .btn-default:hover {
    background-color: #434341;
    border-color: #434341;
}

.btn.disabled, .btn[disabled], fieldset[disabled] .btn {
    cursor: not-allowed;
    filter: alpha(opacity=1.0);
    -webkit-box-shadow: none;
    box-shadow: none;
    opacity: 1.0;
    color: #373734;
}

.form-control[disabled]{
    color: #60605e;
    font-weight:bold;
    background-color: #373734;
    border: 2px solid #434341;
}

.input {
    color: #fff;
    background-color: #373734;
    border: 2px solid #434341;
}

.input:hover, .input:active, .input:active:hover, .input:active:focus, .input:link, .input:focus {
    border-color: #3daa48;
}

.progress-bar-success {
    background-color: #3d8142;
    color: #fff;
}

.progress-bar-info {
    background-color: #4d4d4b;
    color: #fff;
}

.progress-bar-danger {
    background-color: #ac5647;
    color: #fff;
}
.container .jumbotron, .container-fluid .jumbotron, .jumbotron {
    padding-top: 18px;
    padding-bottom: 18px;
    margin-top: -4px;
    margin-bottom: 18px;
    text-align: center;
    padding-right: 20px;
    padding-left: 20px;
}

.player-link {
    margin-bottom: -20px;
}

label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: 200;
    font-size: 18px;
    color: #fff;
}

.checkbox label, .radio label {
    font-size: 14px;
}

.modal-content {
    background-color: #373734;
}
.modal-header {
    border-bottom: 0px solid #e5e5e5;
}

.modal-footer {
    border-top: 0px solid #e5e5e5;
    text-align: left;
}

.close {
    float: right;
    font-size: 25px;
    font-weight: 300;
    line-height: 1;
    color: #fff;
    text-shadow: 0 1px 0 #000;
    filter: alpha(opacity=20);
    opacity: 1.0;
}

pre {
    display: block;
    padding: 9.5px;
    margin: 0 0 10px;
    font-size: 12px;
    line-height: 1.42857143;
    color: #fff;
    word-break: break-all;
    word-wrap: break-word;
    background-color: #3d3d39;
    border: 1px solid #2c2c28;
    border-radius: 4px;
}

.jwplayer:focus, .jwplayer:active {
    outline: 0;
}
