<div>
    <p class="pull-right">
        <a ng-click="switchLanguage('en_US')" class="locales" ng-class="{'active': langIs('en_US')}">EN</a>
        /
        <a ng-click="switchLanguage('de_DE')" class="locales" ng-class="{'active': langIs('de_DE')}">DE</a>
        /
        <a ng-click="switchLanguage('es_VE')" class="locales" ng-class="{'active': langIs('es_VE')}">ES</a>
        /
        <a ng-click="switchLanguage('pl_PL')" class="locales" ng-class="{'active': langIs('pl_PL')}">PL</a>
        /
        <a ng-click="switchLanguage('fr_FR')" class="locales" ng-class="{'active': langIs('fr_FR')}">FR</a>
        /
        <a ng-click="switchLanguage('it_IT')" class="locales" ng-class="{'active': langIs('it_IT')}">IT</a>
        /
        <a ng-click="switchLanguage('pt_PT')" class="locales" ng-class="{'active': langIs('pt_PT')}">PT</a>
        /
        <a ng-click="switchLanguage('sl_SI')" class="locales" ng-class="{'active': langIs('sl_SI')}">SI</a>
    </p>
    <h1>Restreamer</h1>
</div>

