<form ng-submit="submit()">
    <div class="form-group ng-scope">
        <input id="input_username"
               class="form-control input ng-pristine ng-untouched ng-valid"
               type="text"
               name="user"
               ng-model="user"
               placeholder="{{'login_username' | translate}}"
               autofocus>
    </div>
    <div class="form-group ng-scope">
        <input id="input_password"
               class="form-control input ng-pristine ng-untouched ng-valid"
               type="password"
               name="pass"
               ng-model="pass"
               placeholder="{{'login_password' | translate}}">
    </div>
    <div class="jumbotron progress-bar-danger progress-bar-striped" ng-if="message">{{message | translate}}</div>
    <div class="text-right">
        <button class="btn btn-success ng-binding ng-scope" type="submit">{{'login_btn' | translate}}</button>
    </div>
</form>
