<!--
    Repeat to local nginx
-->
<div class="form-group">
    <div class="label">
        {{'input_title' | translate}}
        <a href="https://datarhei.github.io/restreamer/docs/references-rtmp-rtsp-video-source.html" target="_blank">
            <span class="glyphicon glyphicon-question-sign icon16" aria-hidden="true"></span>
        </a>
    </div>
    <input type="text" class="form-control input" id="input_uri"
           placeholder="{{'input_example' | translate}}"
           ng-model="reStreamerData.addresses.srcAddress"
           ng-disabled="disableInput('repeatToLocalNginx')">
</div>

<streaming-status name="repeatToLocalNginx" data="reStreamerData"></streaming-status>

<div class="form-inline form-group">
    <div style="margin-bottom:1em" ng-if="showStartButton('repeatToLocalNginx')">
        <h4>
            Stream options:
            <a href="https://datarhei.github.io/restreamer/docs/guides-encoding.html" target="_blank">
                <span class="glyphicon glyphicon-question-sign icon14" aria-hidden="true"></span>
            </a>
        </h4>
        <table>
        <thead>
        <tr>
            <th></th>
            <th><strong>Video</strong></th>
            <th><strong>Audio</strong></th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>Codec</td>
            <td>
                <select class="select" ng-model="reStreamerData.options.video.codec">
                    <option value="copy" selected>copy</option>
                    <option value="h264">H.264</option>
                </select>
            </td>
            <td>
                <select class="select" ng-model="reStreamerData.options.audio.codec">
                    <option value="auto" selected>auto</option>
                    <option value="copy">copy</option>
                    <option value="none">none</option>
                    <option value="aac">AAC</option>
                    <option value="mp3">MP3</option>
                </select>
            </td>
        </tr><tr ng-if="reStreamerData.options.video.codec != 'copy' || (reStreamerData.options.audio.codec != 'copy' && reStreamerData.options.audio.codec != 'none' && reStreamerData.options.audio.codec != 'auto')">
            <td>Preset</td>
            <td>
                <select class="select" ng-if="reStreamerData.options.video.codec != 'copy'" ng-model="reStreamerData.options.video.preset">
                    <option value="ultrafast" selected>ultrafast</option>
                    <option value="superfast">superfast</option>
                    <option value="veryfast">veryfast</option>
                    <option value="faster">faster</option>
                    <option value="fast">fast</option>
                    <option value="medium">medium</option>
                    <option value="slow">slow</option>
                    <option value="slower">slower</option>
                    <option value="veryslow">veryslow</option>
                    <option value="placebo">placebo</option>
                </select>
            </td>
            <td>
                <select class="select" ng-if="reStreamerData.options.audio.codec != 'copy' && reStreamerData.options.audio.codec != 'none' && reStreamerData.options.audio.codec != 'auto'" ng-model="reStreamerData.options.audio.preset">
                    <option value="encode" selected>encode</option>
                    <option value="silence">silence</option>
                </select>
            </td>
        </tr><tr ng-if="reStreamerData.options.video.codec != 'copy' || (reStreamerData.options.audio.codec != 'copy' && reStreamerData.options.audio.codec != 'none' && reStreamerData.options.audio.codec != 'auto')">
            <td>Bitrate</td>
            <td>
                <select class="select" ng-if="reStreamerData.options.video.codec != 'copy'" ng-model="reStreamerData.options.video.bitrate">
                    <option value="32768">32 Mbit/s</option>
                    <option value="24576">24 Mbit/s</option>
                    <option value="20480">20 Mbit/s</option>
                    <option value="16384">16 Mbit/s</option>
                    <option value="12288">12 Mbit/s</option>
                    <option value="8192">8 Mbit/s</option>
                    <option value="4096" selected>4 Mbit/s</option>
                    <option value="2048">2 Mbit/s</option>
                    <option value="1024">1 Mbit/s</option>
                    <option value="512">512 Kbit/s</option>
                    <option value="256">256 Kbit/s</option>
                </select>
            </td>
            <td>
                <select class="select" ng-if="reStreamerData.options.audio.codec != 'copy' && reStreamerData.options.audio.codec != 'none' && reStreamerData.options.audio.codec != 'auto'" ng-model="reStreamerData.options.audio.bitrate">
                    <option value="256">256 Kbit/s</option>
                    <option value="128">128 Kbit/s</option>
                    <option value="64" selected>64 Kbit/s</option>
                    <option value="32">32 Kbit/s</option>
                    <option value="16">16 Kbit/s</option>
                    <option value="8">8 Kbit/s</option>
                </select>
            </td>
        </tr><tr ng-if="reStreamerData.options.video.codec != 'copy'">
            <td>FPS</td>
            <td>
                <select class="select" ng-model="reStreamerData.options.video.fps">
                    <option value="60">60</option>
                    <option value="59.94">59.94</option>
                    <option value="50">50</option>
                    <option value="30">30</option>
                    <option value="29.97">29.97</option>
                    <option value="25" selected>25</option>
                    <option value="24">24</option>
                </select>
            </td>
            <td></td>
        </tr><tr ng-if="reStreamerData.options.video.codec != 'copy'">
            <td>Profile</td>
            <td>
                <select class="select" ng-model="reStreamerData.options.video.profile">
                    <option value="auto" selected>auto</option>
                    <option value="baseline">baseline</option>
                    <option value="main">main</option>
                    <option value="high">high</option>
                </select>
            </td>
            <td></td>
        </tr><tr ng-if="reStreamerData.options.video.codec != 'copy'">
            <td>Tune</td>
            <td>
                <select class="select" ng-model="reStreamerData.options.video.tune">
                    <option value="none" selected>none</option>
                    <option value="animation">animation</option>
                    <option value="fastdecode">fastdecode</option>
                    <option value="film">film</option>
                    <option value="grain">grain</option>
                    <option value="stillimage">stillimage</option>
                    <option value="zerolatency">zerolatency</option>
                </select>
            </td>
            <td></td>
        </tr><tr ng-if="reStreamerData.options.audio.codec != 'copy' && reStreamerData.options.audio.codec != 'none' && reStreamerData.options.audio.codec != 'auto'">
            <td>Channels</td>
            <td></td>
            <td>
                <select class="select" ng-model="reStreamerData.options.audio.channels">
                    <option value="inherit" ng-if="reStreamerData.options.audio.preset == 'encode'">inherit</option>
                    <option value="mono" selected>mono</option>
                    <option value="stereo">stereo</option>
                </select>
            </td>
        </tr><tr ng-if="reStreamerData.options.audio.codec != 'copy' && reStreamerData.options.audio.codec != 'none' && reStreamerData.options.audio.codec != 'auto'">
            <td>Sampling</td>
            <td></td>
            <td>
                <select class="select" ng-model="reStreamerData.options.audio.sampling">
                    <option value="inherit" ng-if="reStreamerData.options.audio.preset == 'encode'">inherit</option>
                    <option value="44100" selected>44100 Hz</option>
                    <option value="22050">22050 Hz</option>
                    <option value="11025">11025 Hz</option>
                    <option value="8000">8000 Hz</option>
                </select>
            </td>
        </tr>
        </tbody>
        </table>
    </div>
    <div ng-if="!showStartButton('repeatToLocalNginx')">
        <h4>
            Player options:
            <a href="https://datarhei.github.io/restreamer/docs/guides-embedding.html" target="_blank">
                <span class="glyphicon glyphicon-question-sign icon14" aria-hidden="true"></span>
            </a>
        </h4>
        <table>
            <tbody>
                <tr>
                    <td style="width: 25%;"><label><input type="checkbox" ng-change="playerOptions()" ng-model="reStreamerData.options.player.autoplay"> Autoplay</label></td>
                    <td style="width: 25%;"><label><input type="checkbox" ng-change="playerOptions()" ng-model="reStreamerData.options.player.mute"> Mute</label></td>
                    <td style="width: 25%;"><label><input type="checkbox" ng-change="playerOptions()" ng-model="reStreamerData.options.player.statistics"> Statistics</label></td>
                    <td style="width: 25%;"><input class="color-picker" type="color" value="#3daa48" ng-change="playerOptions()" ng-model="reStreamerData.options.player.color"> Color</td>
                </tr>
            </tbody>
        </table>

        <table>
            <tbody>
                <tr style="vertical-align:top;">
                    <td style="padding-top:11px;">Logo Settings</td>
                    <td>
                        <table style="margin-bottom:0px;">
                            <tbody>
                                <tr>
                                    <td>Image URL</td>
                                    <td><input class="form-control input" style="width:100%" type="text" value="" ng-change="playerOptions()" ng-model="reStreamerData.options.player.logo.image" placeholder="{{'player_logo_example' | translate}}"></td>
                                </tr>
                                <tr>
                                    <td>Position</td>
                                    <td>
                                        <select class="select" ng-change="playerOptions()" ng-model="reStreamerData.options.player.logo.position">
                                            <option value="top-left">top-left</option>
                                            <option value="top-right">top-right</option>
                                            <option value="bottom-left">bottom-left</option>
                                            <option value="bottom-right" selected>bottom-right</option>
                                        </select>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Link</td>
                                    <td><input class="form-control input" style="width:100%" type="text" value="" ng-change="playerOptions()" ng-model="reStreamerData.options.player.logo.link" placeholder="{{'player_logolink_example' | translate}}"></td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div ng-if="reStreamerData.addresses.srcAddress.indexOf('rtsp') === 0 && showStartButton('repeatToLocalNginx')"
         class="checkbox pull-left">
        <label>
            <input type="checkbox" ng-model="reStreamerData.options.rtspTcp"> {{'rtsp_tcp' | translate}}
            <!-- TODO: add help for RTSP over TCP
            <a href="{{config.urls.rtspTcpHelp}}" target="_blank">
                <span class="glyphicon glyphicon-question-sign icon14" aria-hidden="true"></span>
            </a>
            -->
        </label>
    </div>
    <div class="player-link pull-left" ng-if="reStreamerData.states.repeatToLocalNginx.type == 'connected'">
        <a class="underline" ng-click="openPlayer()">
            {{'player_link_title' | translate}}
        </a>
    </div>
    <button type="button" class="btn btn-success pull-right"
            ng-if="showStartButton('repeatToLocalNginx')"
            ng-click="startStream('repeatToLocalNginx')">
        {{'button_start' | translate}}
    </button>
    <button type="button" class="btn btn-danger pull-right"
            ng-if="showStopButton('repeatToLocalNginx')"
            ng-click="stopStream('repeatToLocalNginx')">
        {{'button_stop' | translate}}
    </button>
    <div class="clearfix"></div>

</div>

<!-- todo: this hr to css border-bottom or something-->
<hr/>

<!--
    Repeat to optional Output
-->
<h4>Optional:</h4>
<div class="checkbox">
    <label>
        <input type="checkbox" ng-model="activateOptionalOutput"> {{'output_optional' | translate}}
        <a href="https://datarhei.github.io/restreamer/docs/guides-external.html" target="_blank">
            <span class="glyphicon glyphicon-question-sign icon14" aria-hidden="true"></span>
        </a>
    </label>
</div>
<div>
    <div class="form-group" ng-show="activateOptionalOutput === true">
        <div ng-class="{'has-multiple': hasMultipleOutputs}" class="output-source-wrapper" ng-repeat="output in reStreamerData.options.outputs">
            {{id='repeatToOptionalOutput_'+$index;""}}
            <span ng-if="hasMultipleOutputs"  class="source-header">Output {{$index}}</span>
            <div class="output-fields-wrapper">
                <div class="output-select">
                    <select class="select width-auto" ng-model="output.type" ng-disabled="disableInput(id)" style="height:35px;">
                        <option value="rtmp">RTMP</option>
                        <option value="hls">HLS</option>
                    </select>
                </div>
                <div class="output-input">
                    <div ng-show="output.type === 'rtmp'">
                        <input type="text" class="form-control input" id="output_optional_uri_{{$index}}"
                            placeholder="{{'output_optional_example_rtmp' | translate}}"
                            ng-model="output.outputAddress"
                            ng-disabled="disableInput(id)">
                    </div>
                    <div ng-show="output.type === 'hls'">
                        <input type="text" class="form-control input" id="output_optional_hls_uri_{{$index}}"
                            placeholder="{{'output_optional_example_hls' | translate}}"
                            ng-model="output.outputAddress"
                            ng-disabled="disableInput(id)">
                    </div>
                </div>
            </div>
            <div class="output-controls-wrapper">
                <div class="stream-status">
                    <streaming-status name="repeatToOptionalOutput_{{$index}}" data="reStreamerData"></streaming-status>
                </div>
                <div class="control-button">
                    <div class="text-right">
                        <div class="btn btn-danger" ng-click="stopStream(id)"
                                ng-if="showStopButton(id)">{{'button_stop' | translate}}
                        </div>
                        <div ng-show="activateOptionalOutput === true">
                            <div class="btn btn-success" ng-click="startStream(id)"
                                    ng-if="showStartButton(id)">{{'button_start' | translate}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
