<!--
    Repeat to local nginx
-->
<div class="form-group">
    <label>
        {{'input_title' | translate}}
        <a href="https://datarhei.github.io/restreamer/docs/references-rtmp-rtsp-video-source.html" target="_blank">
            <span class="glyphicon glyphicon-question-sign icon16" aria-hidden="true"></span>
        </a>
    </label>
    <input type="text" class="form-control input" id="input_uri"
           placeholder="{{'input_example' | translate}}"
           ng-model="reStreamerData.addresses.srcAddress"
           ng-disabled="showStopButton('repeatToLocalNginx')">
</div>

<streaming-status name="repeatToLocalNginx" data="reStreamerData"></streaming-status>

<div class="form-inline form-group">
    <div ng-if="reStreamerData.addresses.srcAddress.indexOf('rtsp') === 0 && showStartButton('repeatToLocalNginx')"
         class="checkbox pull-left">
        <label>
            <input type="checkbox" ng-model="reStreamerData.options.rtspTcp"> {{'rtsp_tcp' | translate}}
            <!-- TODO: add help for RTSP over TCP
            <a href="{{config.urls.rtspTcpHelp}}" target="_blank">
                <span class="glyphicon glyphicon-question-sign icon14" aria-hidden="true"></span>
            </a>
            -->
        </label>
    </div>
    <div class="player-link pull-left" ng-if="reStreamerData.states.repeatToLocalNginx.type == 'connected'">
        <a class="underline" ng-click="openPlayer()">
            {{'player_link_title' | translate}}
        </a>
    </div>
    <button type="button" class="btn btn-success pull-right"
            ng-if="showStartButton('repeatToLocalNginx')"
            ng-click="startStream('repeatToLocalNginx')">
        {{'button_start' | translate}}
    </button>
    <button type="button" class="btn btn-danger pull-right"
            ng-if="showStopButton('repeatToLocalNginx')"
            ng-click="stopStream('repeatToLocalNginx')">
        {{'button_stop' | translate}}
    </button>
    <div class="clearfix"></div>
</div>

<!-- todo: this hr to css border-bottom or something-->
<hr/>

<!--
    Repeat to optional Output
-->
<h4>Optional:</h4>
<div class="checkbox">
    <label>
        <input type="checkbox" ng-model="activateOptionalOutput"> {{'output_optional' | translate}}
        <a href="{{config.urls.rtmpServerHelp}}" target="_blank">
            <span class="glyphicon glyphicon-question-sign icon14" aria-hidden="true"></span>
        </a>
    </label>
</div>
<div>
    <div class="form-group" ng-show="activateOptionalOutput === true">
        <input type="text" class="form-control input" id="output_optional_uri"
               placeholder="{{'output_optional_example' | translate}}"
               ng-model="reStreamerData.addresses.optionalOutputAddress"
               ng-disabled="showStopButton('repeatToOptionalOutput')">
    </div>
</div>

<streaming-status name="repeatToOptionalOutput" data="reStreamerData"></streaming-status>

<div class="text-right">
    <div class="btn btn-danger" ng-click="stopStream('repeatToOptionalOutput')"
         ng-if="showStopButton('repeatToOptionalOutput')">{{'button_stop' | translate}}
    </div>
    <div ng-show="activateOptionalOutput === true">
        <div class="btn btn-success" ng-click="startStream('repeatToOptionalOutput')"
             ng-if="showStartButton('repeatToOptionalOutput')">{{'button_start' | translate}}
        </div>
    </div>
</div>
