<div class="streamingStatus">
    <!-- Stream is connecting -->
    <div class="jumbotron progress-bar-info progress-bar-striped" ng-if="connecting()">
        {{'process_init' | translate}}
    </div>

    <!-- Stream is connected -->
    <div class="jumbotron progress-bar-success progress-bar-striped" ng-if="connected()">
        {{'process_success' | translate}}
        <div ng-if="fps()">
            <span class="ffmpeg-progress fps">{{fps()}} FPS</span>
            /
            <span class="ffmpeg-progress kbps">{{kbps()}} Kb/s</span>
        </div>
    </div>

    <!-- Stream was stopped -->
    <div class="jumbotron progress-bar-danger progress-bar-striped" ng-if="error()">
        <span>{{'process_failed' | translate}}</span>
        <div ng-if="message">
            <span class="message">{{message}}</span>
        </div>
    </div>

    <!-- Stream has an error -->
    <div class="jumbotron progress-bar-info progress-bar-striped" ng-if="stopped()">
        <span>{{'process_stopped' | translate}}</span>
    </div>

    <!-- regex error on input field -->
    <div class="jumbotron progress-bar-danger progress-bar-striped" ng-show="nginxRepeatStreamInputInvalid">
        {{'process_input_invalid' | translate}}
    </div>
</div>


