<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset='utf-8'>
    <title>Restreamer: {{ page.title }}</title>
    <link rel="icon" type="image/x-icon" href="{{ site.baseurl }}/img/favicon.ico">
    <link href="//cdn.jsdelivr.net/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
    <link href="{{ site.baseurl }}/css/style.css" rel="stylesheet">
  </head>
  <body>
      <div class="site-wrapper">
          <div class="navbar navbar-default navbar-inverse" style="background-color: transparent;" role="navigation">
            <div class="container">
              <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" style="color:#57945c;" href="{{ site.baseurl }}/">Restreamer</a>
              </div>
              <div class="collapse navbar-collapse" id="navbar-collapse">
                <ul class="nav navbar-nav">
                  <li {% if page.tab == "docs" %}class="active"{% endif %}>
                    <a href="{{ site.baseurl }}/docs/">Docs</a>
                  </li>
                  <li {% if page.tab == "wiki" %}class="active"{% endif %}>
                    <a href="{{ site.baseurl }}/wiki/">Wiki</a>
                  </li>
                    <li {% if page.tab == "faq" %}class="active"{% endif %}>
                    <a href="{{ site.baseurl }}/wiki/faq_en.html">FAQ</a>
                  </li>

                  <li {% if page.tab == "support" %}class="active"{% endif %}>
                    <a href="{{ site.baseurl }}/support.html">Support</a>
                  </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                  <li><a href="https://github.com/datarhei/restreamer">GitHub</a></li>
                </ul>
              </div>
            </div>
          </div>
        <div class="container">
            <div class="row">
              {{content}}
              <footer>
                <p class="text-muted text-right">
                  &copy; 2016 <a class="text-muted" href="http://datarhei.org">datarhei.org</a>
                </p>
              </footer>
            </div>
        </div>
    </div>
    <script src="//cdn.jsdelivr.net/jquery/2.1.1/jquery.min.js"></script>
    <script src="//cdn.jsdelivr.net/bootstrap/3.2.0/js/bootstrap.min.js"></script>
  </body>
</html>
