---
layout: pages
---

<div class="row">
  <div class="col-sm-3">
    <h5>Getting Started</h5>
    <ul class="list-unstyled">
      <li>
        <a href="{{ site.baseurl }}/docs/">
          Welcome
        </a>
      </li>
      <li>
        <a href="{{ site.baseurl }}/docs/docker-setup.html">
          Easy setup with Docker
        </a>
      </li>
      <li>
        <a href="{{ site.baseurl }}/docs/hints.html">
          Hints
        </a>
      </li>
    </ul>
    <hr>
    <h5>Guides</h5>
    <ul class="list-unstyled">
      <li>
        <a href="{{ site.baseurl }}/docs/guides-setup-video-device.html">
          Setup Video Device
        </a>
      </li>
      <li>
        <a href="{{ site.baseurl }}/docs/guides-embed-player.html">
          Embed Player
        </a>
      </li>
      <li>
        <a href="{{ site.baseurl }}/docs/guides-embed-snapshot.html">
          Embed Snapshot
        </a>
      </li>
      <li>
        <a href="{{ site.baseurl }}/docs/guides-snapshot-interval.html">
           Modify Snapshotinterval
        </a>
      </li>
        <li>
        <a href="{{ site.baseurl }}/docs/guides-usb-camera.html">
           USB-Camera 
        </a>
      </li>
        <li>
        <a href="{{ site.baseurl }}/docs/guides-raspicam.html">
           Raspberry Pi-Camera
        </a>
      </li>
      <li>
        <a href="{{ site.baseurl }}/docs/guides-optional-streaming.html">
          Stream to external services
        </a>
      </li>
    </ul>
    <hr>
    <h5>References</h5>
    <ul class="list-unstyled">
      <li>
        <a href="{{ site.baseurl }}/docs/references-config.html">
          Config
        </a>
      </li>
      <li>
        <a href="{{ site.baseurl }}/docs/references-environment-vars.html">
          Environment Variables
        </a>
      </li>
      <li>
        <a href="{{ site.baseurl }}/docs/references-http-api.html">
          JSON / HTTP-API
        </a>
      </li>
    </ul>
    <hr>
    <h5>Development</h5>
    <ul class="list-unstyled">
      <li>
        <a href="{{ site.baseurl }}/docs/development-architecture.html">
          Architecture
        </a>
      </li>
    </ul>
    <hr>
    <h5>Contact</h5>
    <ul class="list-unstyled">
      <li>
        <a href="{{ site.baseurl }}/support.html">
          Talk to us
        </a>
      </li>
    </ul>

    </div>
  <div class="col-sm-9">
    {{ content }}
  </div>
</div>
