---
layout: pages
---

<div class="row">
  <div class="col-sm-3">
    <h5>Installation</h5>
    <ul class="list-unstyled">
      <li>
        <a href="{{ site.baseurl }}/docs/installation-osx-windows.html">
          OSX / Windows
        </a>
      </li>
      <li>
        <a href="{{ site.baseurl }}/docs/installation-linux-64.html">
          Linux 64bit
        </a>
      </li>
      <li>
        <a href="{{ site.baseurl }}/docs/installation-linux-arm.html">
          Linux ARM v6/v7
        </a>
      </li>
    </ul>
    <hr>
    <h5>Guides</h5>
    <ul class="list-unstyled">
      <li>
        <a href="{{ site.baseurl }}/docs/guides-embed-upon-your-website.html">
          Embed upon your Website
        </a>
      </li>
      <li>
        <a href="{{ site.baseurl }}/docs/guides-usb-camera.html">
          USB-Camera
        </a>
      </li>
      <li>
        <a href="{{ site.baseurl }}/docs/guides-raspicam.html">
          Raspberry Pi-Camera
        </a>
      </li>
      <li>
        <a href="{{ site.baseurl }}/docs/guides-push-to-wowza.html">
          Push to Wowza (WSE)
        </a>
      </li>
    </ul>
    <hr>
    <h5>References</h5>
    <ul class="list-unstyled">
      <li>
        <a href="{{ site.baseurl }}/docs/references-config.html">
          Configuration
        </a>
      </li>
      <li>
        <a href="{{ site.baseurl }}/docs/references-environment-vars.html">
          Environment Variables
        </a>
      </li>
      <li>
        <a href="{{ site.baseurl }}/docs/references-external-rtmp-streaming-server.html">
          External RTMP-Streaming-Server
        </a>
      </li>
      <li>
        <a href="{{ site.baseurl }}/docs/references-http-api.html">
          JSON / HTTP-API
        </a>
      </li>
      <li>
        <a href="{{ site.baseurl }}/docs/references-rtmp-rtsp-video-device.html">
          RTSP/RTMP Video Source
        </a>
      </li>
    </ul>
    <hr>
    <h5>Development</h5>
    <ul class="list-unstyled">
      <li>
        <a href="{{ site.baseurl }}/docs/development-architecture.html">
          Architecture
        </a>
      </li>
    </ul>
    <hr>
    <h5>Contact</h5>
    <ul class="list-unstyled">
<li>
          <a href="mailto:open@datarhei.org?subject=Datarhei/Restreamer">Email</a>
          <br /> 
          <a target= "_blank" href="https://webchat.freenode.net/?channels=datarhei">Webchat</a>
          <br/>
          <a target= "_blank" href="https://groups.google.com/forum/#!forum/datarhei">Forum</a>
          <br />
          <a target= "_blank" href="https://github.com/datarhei/restreamer/issues">Known Issues</a>
          <br />
          <a href="https://twitter.com/intent/user?screen_name=datarhei" target="_blank"><img src="http://datarhei.org/wiki/pic/twitterbutton_sm.png" width="103" height="21" border="0"></a>
          <br />
          <a href="https://flattr.com/submit/auto?user_id=datarhei&url=https%3A%2F%2Fgithub.com%2Fdatarhei%2F" target="_blank"><img src="http://datarhei.org/wiki/pic/flattr-badge-large.png" alt="Flattr this" title="Flattr this" border="0"></a>
      </li>
      </ul>
    </div>
  <div class="col-sm-9">
    {{ content }}
  </div>
</div>
