---
layout: pages
---
<div class="row">
  <div class="col-sm-3">
      <a href="{{ site.baseurl }}/docs/learn-more.html">
        <h5>Learn more</h5>
      </a>
      <hr>
      <a href="{{ site.baseurl }}/docs/demo-index.html">
        <h5>Demo</h5>
      </a>
      <hr>
      <a href="{{ site.baseurl }}/docs/installation-index.html">
        <h5>Installation</h5>
      </a>
      <hr>
      <a href="{{ site.baseurl }}/docs/guides-index.html">
        <h5>User Guides</h5>
      </a>  
      <hr>
      <a href="{{ site.baseurl }}/docs/references-index.html">
        <h5>References</h5>
      </a>
      <hr>
      <a href="{{ site.baseurl }}/docs/development-index.html">
        <h5>Development</h5>
      </a>
      <hr>
    </div>
  <div class="col-sm-9">
    {{ content }}
  </div>
</div>
