---
layout: pages
---

<div class="row">
  <div class="col-sm-3">
    <h2>wiki</h2>
    <ul class="list-unstyled">
        <li>
            <a href="{{ site.baseurl }}/wiki">
                Back
            </a>
        </li>
    </ul>
    <hr>
    <h5>General Instructions</h5>
    <ul class="list-unstyled">
      <li>
        <a href="{{ site.baseurl }}/wiki/general_instructions/portforwarding_en.html">
          Portforwarding
        </a>
      </li>
      <li>
        <a href="{{ site.baseurl }}/wiki/general_instructions/dynamicdns_en.html">
          Dynamic DNS
        </a>
      </li
      <li>
        <a href="{{ site.baseurl }}/wiki/general_instructions/showpublicip_en.html">
          Show Public IP
        </a>
      </li>
      <li>
        <a href="{{ site.baseurl }}/wiki/general_instructions/findrtspurl_en.html">
          Find and test RTSP/RTP URL
        </a>
      </li>
      <li>
        <a href="{{ site.baseurl }}/wiki/general_instructions/howtostreamusbcamera_en.html">
          How to streamen USB Camera
        </a>
      </li>
      <li>
        <a href="{{ site.baseurl }}/wiki/general_instructions/embeddsnapshot_en.html">
          Embedd Snapshot
        </a>
      </li>
       <li>
        <a href="{{ site.baseurl }}/wiki/general_instructions/modifysnapshotinterval_en.html">
          Modify Snapshotinterval
        </a>
      </li>
      <li>
        <a href="{{ site.baseurl }}/wiki/general_instructions/livestreamingyoutube_en.html">
          Livestreaming with YouTube
        </a>
      </li>
      <li>
        <a href="{{ site.baseurl }}/wiki/general_instructions/livestreamingustream_en.html">
          Livestreaming with Ustream
        </a>
      </li>
      <li>
        <a href="{{ site.baseurl }}/wiki/general_instructions/livestreaminglivestreamcom_en.html">
          Livestreaming with Livestream.com
        </a>
      </li>
      <li>
        <a href="{{ site.baseurl }}/wiki/general_instructions/livestreamingtwitch_en.html">
          Livestreaming with Twitch.tv
        </a>
      </li>
      <li>
        <a href="{{ site.baseurl }}/wiki/general_instructions/embeddediframe_en.html">
          Embedded HTML video iFrame
        </a>
      </li>
    </ul>
  </div>
  <div class="col-sm-9">
    {{ content }}
  </div>
</div>
