---
layout: pages
---

<div class="row">
  <div class="col-sm-3">
    <h2>wiki</h2>
    <ul class="list-unstyled">
     <li>
        <a href="{{ site.baseurl }}/wiki/index.html">
        <h4>start</h4>
        </a>
      </li>
    </ul>
    <hr>
    <h5>Datarhei/Restreamer</h5>
    <ul class="list-unstyled">
      <li>
        <a href="{{ site.baseurl }}/wiki/general-instructions.html">
          General Instructions
        </a>
      </li
      </ul>
    <hr>
    <h5>Technique</h5>
    <ul class="list-unstyled">
      <li>
        <a href="{{ site.baseurl }}/wiki/basic-know-how.html">
          Basic Know How
        </a>
      </li>
        <li>
        <a href="{{ site.baseurl }}/wiki/camera-technology.html">
          Camera
        </a>
      </li>
      <li>
        <a href="{{ site.baseurl }}/wiki/network-technology.html">
          Network
        </a>
      </li>
        <hr>
        <h5>Hardware</h5>
            <ul class="list-unstyled">
                <li>
                    <a href="{{ site.baseurl }}/wiki/requirements.html">
                        Requirements 
                    </a>
                </li>
                <li>
                    <a href="{{ site.baseurl }}/wiki/buy-hardware-index.html">
                        Buy Hardware
                </a>
                </li>
                </ul> 
        <hr>
                <h5>Misc</h5>
    <ul class="list-unstyled">
      <li>
        <a href="{{ site.baseurl }}/wiki/partner-streaming.html">
          Partner Streaming
        </a>
         </li>
        <li>
        <a href="{{ site.baseurl }}/wiki/support-datarhei.html">
          Support Datarhei
        </a>
      </li>
    </ul>
 <hr>
  </div>
  <div class="col-sm-9">
    {{ content }}
  </div>
</div>
