---
layout: pages
---
<div class="row">
  <div class="col-sm-3">
    <h2>wiki</h2>
    <ul class="list-unstyled">
        <li>
            <a href="{{ site.baseurl }}/wiki">
                Back
            </a>
        </li>
    </ul>
      <hr>
    <h5>Basic Knowledge</h5>
    <ul class="list-unstyled">
      <li>
        <a href="{{ site.baseurl }}/wiki/basic_know_how/oss_en.html">
          1. Open Source Software
        </a>
      </li>
      <li>
        <a href="{{ site.baseurl }}/wiki/basic_know_how/videoplayer_en.html">
          2. Videoplayer
        </a>
      </li
      <li>
        <a href="{{ site.baseurl }}/wiki/basic_know_how/cameratechnology_en.html">
          3. Cameratechnology
        </a>
      </li>
      <li>
        <a href="{{ site.baseurl }}/wiki/basic_know_how/cameramanufacturer_en.html">
          4. Cameramanufacturer
        </a>
      </li>
      <li>
        <a href="{{ site.baseurl }}/wiki/basic_know_how/networktechnology_en.html">
          5. Network Technology
        </a>
      </li>
      <li>
        <a href="{{ site.baseurl }}/wiki/basic_know_how/transportprotocol_en.html">
          6. Transport Protocol
        </a>
      </li>
       <li>
        <a href="{{ site.baseurl }}/wiki/basic_know_how/streamingserver_en.html">
          7. Streamingserver
        </a>
      </li>
      <li>
        <a href="{{ site.baseurl }}/wiki/basic_know_how/videosoftware_en.html">
          8. Videosoftware
        </a>
      </li>
      <li>
        <a href="{{ site.baseurl }}/wiki/basic_know_how/videosurveillance_en.html">
          9. Videosurveillance
        </a>
      </li>
      <li>
        <a href="{{ site.baseurl }}/wiki/basic_know_how/streamingservice_en.html">
          10. Streaming Service
        </a>
      </li>
      <li>
        <a href="{{ site.baseurl }}/wiki/basic_know_how/webcamportals_en.html">
          11. Webcamportals
        </a>
      </li>
      <li>
        <a href="{{ site.baseurl }}/wiki/basic_know_how/monetization_en.html">
          12. Monetization
        </a>
      </li>
    </ul>
  </div>
  <div class="col-sm-9">
    {{ content }}
  </div>
</div>

    </ul>
  </div>
  </div>