html, body {
    height: 100%;
    margin: 0;
    padding: 0
}

body {
    color: #fff;
}

.container-fluid {
    height: 100%;
    display: table;
    width: 100%;
    padding: 0;
    background: #3d3d39 url(../images/bg.png) no-repeat fixed center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.container-body {
    float: none;
    margin: 0 auto;
    max-width: 600px;
    border: 1px solid #2c2c28;
    border-radius: 10px;
    padding: 10px 30px;
}

.row-fluid {
    height: 100%;
    display: table-cell;
    vertical-align: middle;
}

hr {
    border-bottom: 1px solid #454543;
    border-top: 1px solid #2b2b2a;
}

.footer {
    padding-bottom: 25px;
}

h1, h2, h3, h4, h5, h6 {
    color: #3daa48;
    font-weight: 300;
}

h1 {
    text-shadow: 0 1px #000;
    font-weight: 100;
    margin-bottom: 30px;
    font-size: 46px;
}

a {
    color: #fff;
    text-decoration: none;
    cursor: pointer;
}

a:visited {
    color: #fff;
    text-decoration: none;
}

a:hover, a:active, a:focus {
    color: #3daa48;
    text-decoration: none;
}

table {
    width: 100%;
    margin-bottom: 22px;
}

th {
    height: 26px;
    width: 150px;
}

td {
    padding: 2px 0px 2px 0px;
}

.locales {
    color: #60605e;
    text-decoration: none;
}

.locales.active {
    color: #fff;
    text-decoration: none;
}

.locales:hover, .locales:focus {
    color: #3daa48;
    text-decoration: none;
}

/* buttons */

.btn {
    margin-top: -5px;
}

.btn-success {
    background-color: #3d8142;
    border-color: #3d8142;
}

.btn-danger {
    background-color: #ac5647;
    border-color: #ac5647;
}

.btn-default.disabled, .btn-default.disabled.active, .btn-default.disabled.focus, .btn-default.disabled:active, .btn-default.disabled:focus, .btn-default.disabled:hover, .btn-default[disabled], .btn-default[disabled].active, .btn-default[disabled].focus, .btn-default[disabled]:active, .btn-default[disabled]:focus, .btn-default[disabled]:hover, fieldset[disabled] .btn-default, fieldset[disabled] .btn-default.active, fieldset[disabled] .btn-default.focus, fieldset[disabled] .btn-default:active, fieldset[disabled] .btn-default:focus, fieldset[disabled] .btn-default:hover {
    background-color: #434341;
    border-color: #434341;
}

.btn.disabled, .btn[disabled], fieldset[disabled] .btn {
    cursor: not-allowed;
    filter: alpha(opacity=1.0);
    -webkit-box-shadow: none;
    box-shadow: none;
    opacity: 1.0;
    color: #373734;
}

.form-control[disabled] {
    color: #60605e;
    font-weight: bold;
    background-color: #373734;
    border: 2px solid #434341;
}

.input {
    color: #fff;
    background-color: #373734;
    border: 2px solid #434341;
}

.input-danger {
    color: #fff;
    background-color: #ad5544;
    border: 2px solid #b96e5f;
}

.input:hover, .input:active, .input:active:hover, .input:active:focus, .input:link, .input:focus {
    border-color: #3daa48;
}

.select {
    color: #fff;
    height: 26px;
    width: 100%;
    background-color: #373734;
    border: 2px solid #434341;
}

.width-auto {
    width: auto !important;
}

.progress-bar-success {
    background-color: #3d8142;
    color: #fff;
}

.progress-bar-info {
    background-color: #4d4d4b;
    color: #fff;
}

.progress-bar-danger {
    background-color: #ac5647;
    color: #fff;
}

.container .jumbotron, .container-fluid .jumbotron, .jumbotron {
    margin-top: -4px;
    margin-bottom: 18px;
    text-align: center;
    padding: 18px 20px;
}

.player-link {
    margin-bottom: -20px;
}

.label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: 200;
    font-size: 18px;
    color: #fff;
}

label {
    font-weight: normal;
    font-size: 14px;
}

.checkbox label, .radio label {
    font-size: 14px;
}

.modal-content {
    background-color: #373734;
}

.modal-header {
    border-bottom: 0 solid #e5e5e5;
}

.modal-footer {
    border-top: 0 solid #e5e5e5;
    text-align: left;
}

.close {
    float: right;
    font-size: 25px;
    font-weight: 300;
    line-height: 1;
    color: #fff;
    text-shadow: 0 1px 0 #000;
    filter: alpha(opacity=20);
    opacity: 1.0;
}

pre {
    display: block;
    padding: 10px;
    margin: 0 0 10px;
    font-size: 12px;
    line-height: 1.42857143;
    color: #fff;
    word-break: break-all;
    word-wrap: break-word;
    background-color: #3d3d39;
    border: 1px solid #2c2c28;
    border-radius: 4px;
}

.footer .links a {
    margin-left: 10px;
}

.underline {
    text-decoration: underline;
}

.icon16 {
    font-size: 16px;
}

.icon14 {
    font-size: 14px;
}

.green {
    color: #3daa48;
}

.color-picker {
    border-radius: 4px;
    background-color: #373734;
    border: 2px solid rgba(255,255,255,0.15);
}

.no-gutter {
    margin-right: 0;
    margin-left: 0;
}

.no-gutter > [class*="col-"] {
    padding-right: 0;
    padding-left: 0;
}

.output-source-wrapper.has-multiple {
    padding: 5px;
    margin: 10px 0;
    border: 1px solid #2c2c28;
    border-radius: 5px;
}

.output-source-wrapper .source-header {
    margin: 0;
    margin-bottom: .5em;
    margin-left: 5px;
    color: #e0e0e0;
}

.output-fields-wrapper, .output-controls-wrapper {
    display: flex;
    margin-bottom: 8px;
}

.output-fields-wrapper > div, .output-controls-wrapper > div {
    flex: 0 0 auto;
}

.output-fields-wrapper .output-input {
    flex-grow: 1;
}

.output-controls-wrapper {
    justify-content: space-between;
    max-width: 100%;
}

.output-controls-wrapper .stream-status {
    flex-basis: 90%;
    padding-right: 10px;
}
